<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::head(~{::title})">
    <title>Autores</title>
    <meta charset="UTF-8">
</head>
<body>
    <div class="container mx-auto">
        <div th:replace="base::header">
        </div>
        <div class="container p-2">
            <div class="grid grid-cols-2 items-center mb-2">
                <div><h1 class="text-xl font-bold mt-2 mb-2">Personage</h1></div>
                
            </div>
            <table class="w-full">
                <thead>
                    <tr class="border-t border-b font-bold">
                        <td width="1px">ID</td>
                        <td>Nome</td>
                        <td width="50px" align="center">Det</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="autor: ${autores}" class="border-b hover:bg-indigo-100">
                        <td th:text="${autor.id}">1</td>
                        <td th:text="${autor.name}">Luiz Carlos</td>
                        <td align="center">
                            <a th:href="@{/{id}(id=${autor.id})}"><i class="fa fa-edit"></i></a>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>